main {
    width: 90%;
    margin: 0 auto;
}

.item-wrapper {
    padding: 3rem;
}

.content {
    max-height: 500px;
    overflow-y: auto;
}

.add-btn {
    display: flex;
    margin-top: 1rem;
    padding: 1rem 1rem;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    color: white;
    font-weight: 500;
    background-color: #3e3e3e;
    border-bottom: 3px solid black;
    cursor: pointer;
    transition: all 0.3s;
}

.modal-wrapper {
    /* 스타일 - customize */
    background-color: rgba(0, 0, 0, 0.7);
    pointer-events: none;
    padding: 20px;

    /* 트랜지션 효과 */
    transition: opacity 0.3s ease-in-out;
    opacity: 0;

    /* 화면 전체를 덮게하는 코드 */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    /* 중앙에 오게하는 코드 */
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-wrapper .modal-content {
    /* 스타일 - customize */
    max-width: 500px;
    width: 100%;
    height: auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    /* 트랜지션 효과 */
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;

    transform: scale(0.8);
}

.modal-wrapper.show {
    /* 모달이 열렸을 때 보여지게 하는 코드 */
    opacity: 1;
    pointer-events: auto;
}

.modal-wrapper.show .modal-content {
    /* 모달이 열렸을 때 보여지게 하는 코드 */
    opacity: 1;
    transform: scale(1);
}

.modal-content .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .close:hover {
    color: black;
}

