.header {
    margin-bottom: -3rem;
    padding: 3rem 3rem 0.5rem;
}

.header-wrap {
    display: flex;
    padding: 1rem 1rem;
    justify-content: space-between;
    align-items: center;
    background-color: #3e3e3e;
    border-bottom: 3px solid black;
    cursor: pointer;
    transition: all 0.3s;
}

.header p {
    font-size: 0.8rem;
    color: white;
    font-weight: 500;
}

.header .seq {
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .seq span {
    display: inline-block;
    width: 0.35rem;
    height: 0.35rem;
    border-radius: 50%;
    background-color: darkgray;
}

.header .seq p {
    margin-left: 0.5rem;
}